@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  height: 80px;
  color: white;
}

.nav_container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  width: 150px;
  height: auto;
}

.nav_menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav_item {
  color: white;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
}

.nav_item:hover {
  --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_label, .nav_input {
  display: none;
}

@media (max-width: 850px) {
  .nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav_label {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    position: fixed;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
    top: 80px;
    bottom: 0;
    background-color: #3d3d3d;
    height: 60px;
    width: 100%;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: -webkit-clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  }
}
.nav_input:checked + .nav_menu {
  background-color: #3d3d3d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/paisaje3.jpg);
  background-size: cover;
  background-position: center;
}

.container > h1 {
  font-size: 46px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.contenido {
  display: flex;
  margin: 20px;
}

.contenido_text > h3 {
  font-size: 32px;
  margin: 20px 20px;
}

.contenido_text > p {
  font-size: 20px;
  margin: 20px 20px;
}

.contenido_img {
  width: 100vw;
  max-width: 1100px;
  min-width: 320px;
  margin: auto;
}

.contenido_img img {
  width: 100%;
}

.cards_index {
  margin: 45px;
}

.card_index > a > img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.card_index > a {
  box-shadow: 0 0 12px #d7d7d7;
  border-radius: 15px;
}

.card_index {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1366px) {
  .card_index {
    display: block;
  }
  .card_index > a > img {
    width: 250px;
    margin: 20px;
    border-radius: 15px;
  }
}
.pie_pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie_pagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie_pagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie_pagina .grupo1 .box figure img {
  width: 250px;
}

.pie_pagina .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie_pagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie_pagina .grupo1 .red_social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie_pagina .grupo1 .red_social a:hover {
  color: cyan;
}

.pie_pagina .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.pie_pagina .grupo2 small {
  font-size: 17px;
}

@media screen and (max-width: 800px) {
  .pie_pagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.container_propuesta {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/paisaje3.jpg);
  background-size: cover;
  background-position: center;
}

.container_propuesta > h1 {
  font-size: 46px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.main_Propuesta {
  margin: 20px;
  display: flex;
}

.texto_propuesta {
  margin: 20px;
}

.texto_propuesta > h3 {
  font-size: 30px;
}

.texto_propuesta > p {
  font-size: 20px;
  margin-top: 1rem;
}

@media (max-width: 1366px) {
  .main_Propuesta {
    display: block;
    margin: 48px;
    justify-content: center;
  }
}
.body_contacto {
  background: url(../img/paisaje5.jpg);
}

.contact_form {
  width: 800px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #c7c7c7;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #44ab5e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #44ab5e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #44ab5e;
  border-color: #44ab5e;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #44ab5e;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #44ab5e;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

@media (max-width: 790px) {
  .formulario {
    width: 100%;
    margin: 0;
  }
  .contact_form {
    width: 100%;
  }
}
h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

@media (max-width: 790px) {
  .formulario {
    width: 100%;
    margin: 0;
  }
  .contact_form {
    width: 100%;
  }
}
article.card_article {
  max-width: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 3rem;
  box-shadow: 0 0 12px #d7d7d7;
}

.header_card_trabajo > img {
  border-radius: 20px 20px 0 0;
  max-height: 300px;
  height: 300px;
  width: 100%;
}

.card_trabajo {
  justify-content: space-between;
}

.categoria_card1 {
  margin: 1rem 0;
}

.categoria_card2 {
  margin: 1rem 0;
}

.categoria_card3 {
  margin: 1rem 0;
}

.categoria_card1 > span {
  background-color: #25c4d8;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.categoria_card2 > span {
  background-color: #884507;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.categoria_card3 > span {
  background-color: #6600da;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.card_trabajo footer {
  padding: 0 2rem;
}

.foto_perfil_card {
  display: flex;
  align-items: center;
}

.img_perfil_card {
  display: flex;
}

.img_perfil_card img {
  width: 70px;
  padding: 1rem 1rem 1rem 0;
  border-radius: 50%;
  box-shadow: #a1a1a1;
}

.texto_perfil_card1 {
  display: flex;
  flex-flow: column;
}

.texto_perfil_card2 {
  display: flex;
  flex-flow: column;
}

.texto_perfil_card3 {
  display: flex;
  flex-flow: column;
}

.texto_perfil_card1 span:nth-child(2) {
  color: #884507;
}

.texto_perfil_card2 span:nth-child(2) {
  color: #0198b3;
}

.texto_perfil_card3 span:nth-child(2) {
  color: #00dabd;
}

.texto_perfil_card1 span:nth-child(1) {
  color: #666666;
}

.texto_perfil_card2 span:nth-child(1) {
  color: #666666;
}

.texto_perfil_card3 span:nth-child(1) {
  color: #666666;
}

.card_trabajo {
  display: flex;
  flex-flow: wrap;
}

.texto_card_trabajo {
  margin: 1rem 0;
}

.texto_card_trabajo h3 {
  font-size: 24px;
}

.main_estudios {
  margin: 50px;
}

.titulo_Estudios > h3 {
  font-size: 36px;
  margin: 60px 0 0 80px;
  padding: 0;
}

.titulo_Estudios > p {
  font-size: 20px;
  margin: 10px 80px;
}

.subtitulo_estudios > .Subtitulo_texto {
  margin: 40px 80px;
  display: block;
  font-size: 20px;
  width: 80%;
  justify-content: center;
}

.estudio {
  margin: 40px;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.img_estudio {
  width: 150vw;
  max-width: 1100px;
  min-width: 320px;
  margin: auto;
}

.img_estudio img {
  width: 100%;
}

.textoEstudio {
  display: block;
  padding-left: 40px;
}

.textoEstudio > h3 {
  font-size: 36px;
}

.textoEstudio > p {
  font-size: 20px;
}

.btnEstudios {
  background: transparent;
  border: none;
  color: black;
  padding: 12px 18px;
  position: relative;
  margin-top: 40px;
  font-size: 16px;
}

.btnEstudios > i {
  padding-left: 20px;
  font-size: 18px;
}

.btnEstudios .circulo {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: rgb(0, 179, 0);
  position: absolute;
  z-index: -1;
  left: 85px;
  transform: translate(0px, -50%);
  top: 50%;
  transition: width 0.25s, left 0.25s 0.25s;
}

.btnEstudios:hover .circulo {
  left: 0%;
  width: 100%;
  transition: left 0.25s, width 0.25s 0.25s;
}

@media (max-width: 990px) {
  .estudio {
    display: block;
    padding: 0%;
  }
  .textoEstudio {
    width: auto;
    margin: 20px;
  }
  .img_estudio {
    width: 100vw;
    max-width: 800px;
    min-width: 320px;
    padding: 0%;
    margin: auto;
    justify-content: center;
  }
  .img_estudio img {
    width: 100%;
    height: auto;
  }
}
body {
  font-family: "Roboto", sans-serif;
}